@import "src/views/sign-up/styles/sign-up-form.scss";
@import "src/views/sign-up/styles/sign-up-aside.scss";

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--gray-100);
}