/* FormDemo.css */
.form-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 81px;
    font-family: monospace;
    font-size: 32px;
}

.form-demo .card {
    width: 450px;
}

.form-demo .card form {
    margin-top: 2rem;
}

.form-demo .card .field {
    margin-bottom: 1.5rem;
}

.field-checkbox {
    margin-bottom: 16px;
}

.field-checkbox label {
    margin-left: 8px;
}

@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}
