
.form {
  min-width: 85%;
  margin: 0 auto;

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    width: 40%;
    height: 100vh;
    box-shadow: rgb(0 0 0 / 35%) 8px 0 16px;
    background: #fff;
  }

  &-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 64px;
    font-family: monospace;
    font-size: 32px;
  }

  &-field {
    margin-bottom: 1.5rem;
  }

  &-checkbox {
    margin-bottom: 16px;

    label {
      margin-left: 8px;
    }
  }
}


@media screen and (max-width: 960px) {
  .form {
    width: 80%;
  }
}

@media screen and (max-width: 640px) {
  .form {
    width: 100%;
    min-width: 0;
  }
}
